// mixins

@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

@mixin desktopBackground {
  background: var(--backgroundImageLocation) fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin protrude($offset) {
  top: calc(0% - #{$offset});
  left: calc(0% - #{$offset});
  width: calc(100% + 2* #{$offset});
  height: calc(100% + 2* #{$offset});  
}

// document wide

:root {
  --backgroundImageLocation: url('https://cdn.pixabay.com/photo/2023/05/04/02/29/cherry-blossoms-7969007_960_720.jpg');
  
  // will be initialized in JS
  --taskbarHeight: 0px;
  --inputMarkerW: 1ch;
  
  --lightDeg: 120deg;
  --mainColor: #ffd0d090;
  --alt1: #ffe9e990;
  --alt2: #a8e8ff90; //#a8c8ff90;
  --alt3: #ffffff90;
  --taskbarColor: var(--mainColor);
  --windowColor: #ffe9e990;
  --petalHue: 330deg;
  --petalLifetime: 10s;
  
  --glassomorphism1: linear-gradient(var(--lightDeg), #ffe9e9A6, #ffe9e930);
  --glassomorphism2: linear-gradient(var(--lightDeg), var(--mainColor), var(--alt2), #fff2);
  --glassomorphism3: linear-gradient(var(--lightDeg), #c76adef0, #c76ade90);
    
  --green: #7aff64;
  --yellow: #fff764;
  --red: #ff6464;
  --purple: #c76ade;
  
  --openWindowColor: var(--purple); //#b274c2; //#d28de3; //#da47ff;
  --openWindowTime: .35s;
  
  --divisionBorder: 2px solid #fff5;
}

body, html {
  margin: 0;
  font-family: 'Signika Negative', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  /*
  background images:
  https://cdn.discordapp.com/attachments/447308448690995201/1106583165906206760/lighthouse-ge77a7764b_1920.jpg
  https://cdn.discordapp.com/attachments/897325485082685511/1106578113237893120/street-art-g12f909360_1920.jpg
  https://cdn.discordapp.com/attachments/447308448690995201/1106583497675644969/cherry-blossoms-g0ed5452c2_1920.jpg
  */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// OS things

body, .window:before, .window:after {
  @include desktopBackground;
}

#windowsOverlay {
  flex: 1;
}

#taskbar {
  font-size: 30px;
  color: white;
  width: 90%;
  background-color: var(--taskbarColor);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5em;
  box-sizing: border-box;
  position: fixed;
  // top: 20px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

#taskbar>#time {
  border-radius: 3px;
  padding-left: 5px;
  border-left: 2px solid white;
}


.taskbaritems {
  display: flex;
  justify-content: flex-start;
  
  &>* {
    --marginBetweenEach: .5em;
    --paddingXEachButton: .2em;
    --paddingYEachButton: .3em;
    --activeUnderlineSize: 3px;
    
    box-sizing: border-box;
    border-style: none;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    display: block;
    cursor: pointer;
    
    margin: 0 var(--marginBetweenEach);
    padding: var(--paddingYEachButton) var(--paddingXEachButton);
    margin-top: calc(var(--paddingYEachButton) * 4/5);
    padding-top: calc(var(--paddingYEachButton) * 1/5);
    margin-bottom: calc(var(--paddingYEachButton) * 4/5);
    padding-bottom: calc(var(--paddingYEachButton) * 1/5 + var(--activeUnderlineSize));
    border-radius: 4px;
    
    &>* { transition: transform .1s ease-in-out; }
    &:hover >* {
      transform: translateY(-4px);
    }
    
    &:not(.exited) {
      border-bottom: var(--activeUnderlineSize) solid var(--openWindowColor);
      padding-bottom: calc(var(--paddingYEachButton) * 1/5);
    }
    
    &#startMenu {
      padding-right: calc(var(--paddingXEachButton) + var(--marginBetweenEach));
      border-right: 2px solid white;
      border-bottom: none;
      padding-bottom: calc(var(--paddingYEachButton) * 1/3 + var(--activeUnderlineSize));

    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
      padding-right: calc(var(--paddingXEachButton) + var(--marginBetweenEach));
      border-right: 2px solid white;
    }
  }
}

.windowPositioner, .petalPositioner {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 0;
}

.windowPositioner {
  top: inherit;
  left: inherit;
  opacity: 1;
  transition: 
    opacity ease-in .1s;
  
  &.fullscreen {
    top: 5 !important;
    left: 0 !important;
    width: 90%;
    height: 100%;
    .window {
      animation: none;
      width: 100% !important;
      height: calc(90% - var(--taskbarHeight)) !important;
    }
  }
  
  &.closed {
    top: 100vh !important;
    opacity: 0;
    @include noSelect;
  }
  
  &.smoothTopAnimation {
    transition: top ease-in var(--openWindowTime), opacity ease-in .4s;
  }
  
  &.exited {
    transition: opacity steps(4, jump-none) var(--openWindowTime) .5s;
    opacity: 0;
    @include noSelect;
    
    & .window {
      animation-play-state: paused;
      
      & .glassShatter {
        display: block;
      }
    }
  }
}

.windowActionButtons>* { 
  cursor: pointer; 
  border-style: none;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

.minimize:hover { color: var(--green); }
.windowed:hover { color: var(--yellow); }
.close:hover { color: var(--red); }

.window {
  // if not set
  width: 550px;
  height: 400px;
  
  position: absolute;
  box-sizing: border-box;
  border: var(--divisionBorder);
  background-image: var(--glassomorphism1);
  border-radius: 4px;
  font-size: calc(.5em + .5vw);
  
  transition: top .2s ease;
  animation: windowFloat 3s ease-in-out infinite alternate;
  
  &:hover {
    // animation-name: windowFloatHover 2s ease-in-out forwards;
    animation-play-state: paused;
    top: 0;
  }
  
  &>* {
    padding: 4px;
    margin: 0 8px;
  }
  
  &>.glassShatter {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('https://cdn.pixabay.com/photo/2019/02/26/01/43/broken-glass-4020981_960_720.png');
    background-size: cover;
    filter: contrast(100%) hue-rotate(80deg) saturate(0%) brightness(170%);
    // background-size: 162%;
    // background-position-y: -180px;
  }
  
  &>.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff8;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
  
  &:before, &:after, &>.resizer {
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  
  &:before, &>.resizer {
    box-sizing: border-box;
    @include protrude(6px);
    border-radius: 6px;
    z-index: -2;
    cursor: hover;
  }
  
  &>.resizer {
    // background-color: blue;
    --centerSize: 5fr;
    display: grid;
    grid-template-columns: 1fr var(--centerSize) 1fr;
    grid-template-rows: 1fr var(--centerSize) 1fr;
    
    &>:nth-child(1) { cursor: nw-resize; }
    &>:nth-child(2) { cursor: n-resize; }
    &>:nth-child(3) { cursor: ne-resize; }
    &>:nth-child(4) { cursor: w-resize; }
    &>:nth-child(6) { cursor: e-resize; }
    &>:nth-child(7) { cursor: sw-resize; }
    &>:nth-child(8) { cursor: s-resize; }
    &>:nth-child(9) { cursor: se-resize; }
  }
  
  &:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
  }
  
}

.petalPositioner {
  /* 
  each petalPositioner element relies on a few variables that must be declared individually in the markup:
  --gs: grayscale for the petal (expects %, default 60)
  --ad1: animation direction for the outer rotation
  --ad2: animation direction for the inner rotation
  --finX: final x position
  --finY: final y position
  */
  --finX: 50px;
  --finY: 60px;
  top: 0;
  left: 0;
  @include noSelect;
  
  animation: petalSink var(--petalLifetime) forwards normal ease-in;
}

.petalRotate {
  width: 16px;
  height: 36px;
  top: 0;
  left: 0;
  animation: petalFloat2 9.3s infinite forwards ease-in-out;
  animation-direction: var(--ad1);
}

.petal {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 16px;
  width: 16px;
  background-position: center;
  filter: 
    Grayscale(var(--gs)) // uppercase because CSS is not case specific but SCSS is
    brightness(110%)
    hue-rotate(var(--petalHue))
    ;
  animation: petalFloat 18.3s infinite ease forwards;
  animation-direction: var(--ad2);
  
  &.petal1 {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABVklEQVQ4jd2TvUoDQRSFv5nZzWw2f7t5gLQBbdJELFKltLAL2PgEPkLARvA1xDIgWAUMPoAgKSysFEGChcFYLSE/JLsyu26iopWVHrjcM8u9h3sOLH8fwjiIOh0oFGAy8fA8i2Zz9KOzwQCKxZgK38d6/yxQ6oDxuEUUQberse0CSj2g9SO53C3Z7BXz+QDPM/MBEBqSCpzT7+9QLitAslyC1pDNbjCbEZdlQS53zXJ5ShDcE0WXawGlXlHKxnEMT0pKCMOEm2XTF4stRqNNHOeCfL4EnCUZDIcOvd4Lk0k+PtEsZDJJt+2kp5WKKzUTtZoj4wuknNJo7K2CMkvpYIo1j9D6Dq178eqHfLvU6+3YrxCfrZi3EGsBIZ7x/f2vAgbHVCqH8bAJMjk1uWgtKplOtwnD1ncCBkdUq7u47g1SBigVIESw4ko9USq1cd2Tf/Af/B7AG3qZViUd4GjUAAAAAElFTkSuQmCC');
  }
  
  &.petal2 {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB5UlEQVQ4jcWTwW7TQBCGP++uZTvBTa00QiQiLT30BXoCiQoJOCFx4Iw4wo034AX6CNw5wBWJE3CnglNLVKkIRVEBCbWpgNqOk10brZcoLS/QkUZr7/7/zP4zs1y4edXh4eIOvg+jERwdQa8HWQZSgtbQbluEh+9XpKnbD0PUOQUWaMnLy1CWLuBsdgUpJ5TlNYQwCLEPFHOKOpd9PAYhoNHoUxT3yfPLSHkXITRpOkOpEcbsAO+AfRfAEoIA0rTL6ekt8rxPmt7m+HgTSIiiCqU8jAGlCoy5g5T3CIJnwCfFwUFEq7XFcPiELNtkNuujdYmUgkbD6bZmNUOAMV2gTZ4LWq3HivH4JoPBcyaTq0SRRxxboKgl2To4Iv9u4FYhFHH8njC8JND6G83mD7T2aoAleC5pLW/+bVfr9tz3h0j5ByEGgjD8zMbGU7rdL3X0eVZLPmv2f+5l2efkZMt2zOksih06nQesrb1GiJSqWmS1weYyrE2ndc/Q+i15jqizuiLtsrr6kF5vm2ZzDyl/1YGKYkG02CDYo9N5RJK8IIrOzIED/wa2CYI3wA18/zpKNcnzdZaWviPlB1ZWXhGGu3Xrp9P/JtHZBGM+IoT1lyRJhTE/ieN1lPpKlnn1xLpiXvRTBP4Co0msQ3J+4LwAAAAASUVORK5CYII=');
  }
  
  &.petal3 {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABmUlEQVQ4jeWRvUokQRDHf7M70zo7jO6crIIompiIGi7ceS8gCwbHcelFxwXmhoLCvYO+gGIiRmpg5AcYnHIgxmLgx3CKeDq76/bOtlQPwz7DYUFT3V1dv/pXNf+/OWZ3F6pVaDTg9hbKZWi1IE0/8fIyj9afgWE8LyEITvH9bYJgm1IJlMKlXq+g1F+MgXY75OFhlvv7H2j9xY7H88D3sXGtp0iS7zQaW4yMfMXzjGN2dr4Rx7/o64tJkkmMiXBdbIXeXigUMkixmHk5CyyK9hgbm3PM87PH+vod19cfGB+Hnp5sKdVNEJ9DBC4+TaFSWSiglKZWqzI4CI7TfSCJYvle62y129DpQBgeUCxeOObxEfr74fz8J0dHqwwNZdVzUCa9SRRtoNQVxvwjDA9x3d/Cd61cIc/MrFGvT3N5uWDvRE1e3RiPTqeMUpsEwT6um/L6agU6Rr5PTJJE2vHxMk9PS1aBDDEfnsSk71KpxejoR4LgTNrpAuRhswlxLKcaNzcrpOmEbUdiosj3/zAwsIjvn1i4AN+7AW9I2o9+bALQEwAAAABJRU5ErkJggg==');
  }
}

.inputMarker {
  display: none;
  width: var(--inputMarkerW);
  // background-color: var(--purple);
  background-image: var(--glassomorphism3);
  border-radius: .18em;
  opacity: 1;
  color: transparent;
  animation: blink 1s steps(2, jump-none) infinite;
}

.active .inputMarker { display: inline-block; }
// animations

@keyframes windowFloat {
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}

@keyframes windowFloatHover {
  from {
    
  }
  to {
    top: 0px;
    // animation-play-state: paused;
  }
}

@keyframes petalFloat {
  20% {
    transform: rotate(35deg);
  }
  30% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(390deg);
  }
  60% {
    transform: rotate(-50deg);
  }
  70% {
    transform: rotate(-370deg);
  }
}

@keyframes petalFloat2 {
  20% {
    transform: rotate(376deg);
  }
  40% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-380deg);
  }
}

@keyframes petalSink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: 
      translateX(var(--finX))
      translateY(var(--finY));
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-top {
  from { opacity: 0; display: inherit; }
  to { opacity: 1; transform: translateY(0px); }
}

@keyframes fade-in-left {
  from { opacity: 0; display: inherit; }
  to { opacity: 1; transform: translateX(0px); }
}

@keyframes glossShine {
  from { }
  to { left: 100%; }//transform: rotate(90deg); }
}

// Terminal

#Terminal .terminalContent * {
  font-family: "Cousine", monospace;
  font-size: calc(.5em + .5vw);
  line-height: 1.6em;
}

#Terminal .terminalContent {
  overflow: auto;
  height: calc(100% - 3em); // cheap trick but I'm lazy
  &>div {
    display: flex;
    &>* { align-items: center; }
    &>:not(:first-child) { flex: 1; padding-left: 1ch; }
  }
  
  table {
    --rounding: 3px;
    padding: 0;
    border-collapse: collapse;
    
    tr.spacerRow {
      background-image: var(--glassomorphism2), var(--backgroundImageLocation);
      background-origin: padding-box, padding-box;
      background-attachment: scroll, fixed;
      background-clip: padding-box, border-box;
      background-blend-mode: screen;
      height: .6em;
      filter: blur(.1em);
      td, th { color: transparent; }
    }
    * { padding: 0; }
    tr:nth-child(even) { 
      // @include desktopBackground; 
      padding: .2em 0;
      border-radius: var(--rounding);
    }
    tr td:first-child, 
    tr th:first-child { border-radius: var(--rounding) 0 0 var(--rounding) }
    tr td:last-child,
    tr th:last-child { border-radius: 0 var(--rounding) var(--rounding) 0 }
    tr td:not(:first-child, :last-child), 
    tr th:not(:first-child, :last-child) {
      padding: 0 .5em;
    }
  }
  #terminalInput {
    box-sizing: border-box;
    cursor: pointer;
  }
  input {
    max-width: calc(100% - var(--inputMarkerW));
    width: 0;
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    caret-color: transparent;
    &:focus { border: 0; outline: 0; }
  }
}

#Browser .browserNavOutline {
  // this class nests the entire navbar and creates the search bar outline
  --border: 2px;
  --borderRadius: 3px;
  margin-top: .2em;
  margin-bottom: .2em;
  box-sizing: content-box;
  padding: var(--border);
  @include desktopBackground;
  border-radius: var(--borderRadius);
}

#Browser .browserNavBar {
  position: relative;
  
  &:before {
    content: '';
    position: absolute;
    @include desktopBackground;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
  }
  
  &>.browserNavBarElements {
    background-image: var(--glassomorphism2);
    position: relative;
    display: flex;
    border-radius: var(--borderRadius);
    padding: .1em .2em;
    
    &>* { 
      flex: 5; 
      display: flex; 
      flex-wrap: wrap;
      align-items: center;
      border-right: var(--divisionBorder);
      margin: 0 .5ch;
    }
    &>:first-child { 
      flex: 1; 
    }
    &>:last-child { 
      flex: inherit; 
      justify-content: flex-end; 
      border-right: none;
    }
  }
}

.browserFunctions {
  justify-content: center;
  gap: .75ch;
}

.browserUtilities {
  justify-content: flex-end;
  gap: .75ch;
}

.browserContent {
  border-top: var(--divisionBorder);
  padding: 0 12%;
  overflow: auto;
  
  &>* { 
    // visibility: hidden;
    transform: translateY(-15px);
    animation: fade-in-top 1s ease both;
  }
  
  .callToAction {
    display: flex;
    // justify-content: center;
    gap: 1em;
    button {
      position: relative;
      border: none;
      border-radius: .5em;
      // background-color: var(--yellow);
      @include desktopBackground;
      background-image: var(--glassomorphism3);
      color: white;
      padding: .75em 2em;
      overflow: hidden;
      cursor: pointer;
      
      &:after {
        --backgroundImageWidth: 12px;
        --backgroundImageHeight: 500px;
        content: '';
        position: absolute;
        @include noSelect;
        bottom: calc(-1 * var(--backgroundImageWidth));
        left: -50%; // magic number because I'm tired
        transform-origin: bottom left;
        width: var(--backgroundImageWidth);
        height: var(--backgroundImageHeight);
        background-image: linear-gradient(90deg, #fff0, #ffff, #fff0);
        transform: rotate(calc(-90deg + var(--lightDeg)));
        animation: glossShine .4s ease-in-out 2s;
      }
      
      &:hover {
        
      }
      
    }
  }
  
  .cards {
      & {
        transform: translateX(-15px);
        animation: fade-in-left 1s ease both;
      }
    
      &>:last-child {
        margin-bottom: 0;
      }
    }
    
}